datadog:
  datadog:
    clusterName: gke-pdp-nprd-wsaa
    tags: [manawa-cluster:gke-pdp-nprd-wsaa, managed_by:observability_team, cluster_slo:true, obs-env:nprd]
    otlp:
      receiver:
        protocols:
          # datadog.otlp.receiver.protocols.grpc - OTLP/gRPC configuration
          grpc:
            # datadog.otlp.receiver.protocols.grpc.enabled -- Enable the OTLP/gRPC endpoint
            enabled: true
            # datadog.otlp.receiver.procotols.grpc.endpoint -- OTLP/gRPC endpoint
            endpoint: "0.0.0.0:4317"

          # datadog.otlp.receiver.protocols.http - OTLP/HTTP configuration
          http:
            # datadog.otlp.receiver.protocols.http.enabled -- Enable the OTLP/HTTP endpoint
            enabled: true
            # datadog.otlp.receiver.protocols.http.endpoint -- OTLP/HTTP endpoint
            endpoint: "0.0.0.0:4318"
  #agents:
  #  podAnnotations:
  #    manawa/product_id: 2606f0c1-477b-4f83-b275-0dc81954de2e
  clusterAgent:
    enabled: true
    metricsProvider:
      enabled: true
      # clusterAgent.metricsProvider.useDatadogMetrics
      # Enable usage of DatadogMetric CRD to autoscale on arbitrary Datadog queries
      useDatadogMetrics: true
    deploymentAnnotations:
      manawa/cluster_name: gke-pdp-nprd-wsaa
      manawa/environment: prep
    podAnnotations:
      manawa/cluster_name: gke-pdp-nprd-wsaa
      manawa/environment: prep
    additionalLabels:
      manawa/cluster_name: gke-pdp-nprd-wsaa
      manawa/environment: prep
  clusterChecksRunner:
    replicas: 2
    priorityClassName: datadog-priority-class
    resources:
      requests:
        cpu: 500m
        memory: 1024Mi
      limits:
        cpu: 2000m
        memory: 3072Mi
    deploymentAnnotations:
      manawa/cluster_name: gke-pdp-nprd-wsaa
      manawa/environment: prep
    podAnnotations:
      manawa/cluster_name: gke-pdp-nprd-wsaa
      manawa/environment: prep
    additionalLabels:
      manawa/cluster_name: gke-pdp-nprd-wsaa
      manawa/environment: prep
  agents:
    podLabels:
      manawa/cluster_name: gke-pdp-nprd-wsaa
      manawa/environment: prep
    podAnnotations:
      manawa/cluster_name: gke-pdp-nprd-wsaa
      manawa/environment: prep
