name: Debug Datadog dependency version

on:
  push:
    branches: [main]
    paths:
      - 'charts/datadog/datadog-*/Chart.yaml'

jobs:
  check-version-change:
    runs-on: ubuntu-latest

    outputs:
      version-changed: ${{ steps.check-versions.outputs.version-changed }}
      changes-done: ${{ steps.check-versions.outputs.changes_done }}
      start-date: ${{ steps.check-versions.outputs.start-date }}
      end-date: ${{ steps.check-versions.outputs.end-date }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check version change
        id: check-versions
        run: |
          changed=false
          changes_done=""

          for file in charts/datadog/datadog-*/Chart.yaml; do
            cur=$(yq e '.dependencies[0].version' "$file")
            old=$(git show ${{ github.event.before }}:$file 2>/dev/null \
              | yq e '.dependencies[0].version' - || echo "")

            if [ "$cur" != "$old" ]; then
              changed=true
              env=$(basename "$(dirname "$file")")

              changes_done+="Change version of $env from $old to $cur"$'\n'

              START_DATE=$(date '+%Y-%m-%d %H:%M:%S')
              END_DATE=$(date -d '+1 hour' '+%Y-%m-%d %H:%M:%S')
            fi
          done

          echo "version-changed=$changed" >> "$GITHUB_OUTPUT"
          echo "changes_done<<EOF" >> "$GITHUB_OUTPUT"
          echo "$changes_done" >> "$GITHUB_OUTPUT"
          echo "EOF" >> "$GITHUB_OUTPUT"
          echo "start-date=$START_DATE" >> "$GITHUB_OUTPUT"
          echo "end-date=$END_DATE" >> "$GITHUB_OUTPUT"

  create-standard-change:
    name: "Create Standard Change"
    needs: check-version-change
    if: needs.check-version-change.outputs.version-changed == 'true'
    uses: adeo/dxp--reusable-github-actions-workflows/.github/workflows/snow-standard-change-create.yml@v1.130.3
    with:
      snow-change-template-id: "a485a5ed93870690cdd9bdda6aba109e"
      snow-change-review-comments: "Datadog Agent Version Update"
      snow-change-state: 3
      snow-change-review-status: "1"
      snow-change-template-variables: |
        {
          "targeted_component": "SAAS RESSOURCE",
          "changes_done": "${{ needs.check-version-change.outputs.changes-done }}", 
          "adeo_wished_date": "${{ needs.debug.outputs.start-date }}" 
        }
      snow-change-planned-start-date: ${{ needs.debug.outputs.start-date }} 
      snow-change-planned-end-date: ${{ needs.debug.outputs.end-date }} 
