name: "Promote Release"

on:
  push:
    branches: [main]
    paths:
      - 'charts/datadog/datadog-*/Chart.yaml'

jobs:
  promote-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Check if version changed
        id: version_check
        run: |
          dev_path="charts/datadog/datadog-dev/Chart.yaml"
          nprd_path="charts/datadog/datadog-nprd/Chart.yaml"

          CURRENT_DEV=$(yq '.dependencies[0].version' $dev_path)
          PREV_DEV=$(git show ${{ github.event.before }}:$dev_path | yq '.dependencies[0].version')

          CURRENT_NPRD=$(yq '.dependencies[0].version' $nprd_path)
          PREV_NPRD=$(git show ${{ github.event.before }}:$nprd_path | yq '.dependencies[0].version')

          echo "dev_changed=$([ "$CURRENT_DEV" != "$PREV_DEV" ] && echo true || echo false)" >> $GITHUB_OUTPUT
          echo "nprd_changed=$([ "$CURRENT_NPRD" != "$PREV_NPRD" ] && echo true || echo false)" >> $GITHUB_OUTPUT

      - name: Promote dev version to nprd
        if: steps.version_check.outputs.dev_changed == 'true'
        run: |
          DEV_VER=$(yq '.dependencies[].version' charts/datadog/datadog-dev/Chart.yaml)
          yq -i ".dependencies[].version = \"$DEV_VER\"" charts/datadog/datadog-nprd/Chart.yaml
          echo "target=nprd" >> $GITHUB_ENV
          echo "version=$DEV_VER" >> $GITHUB_ENV

      - name: Promote nprd version to prod
        if: steps.version_check.outputs.nprd_changed == 'true'
        run: |
          NPRD_VER=$(yq '.dependencies[].version' charts/datadog/datadog-nprd/Chart.yaml)
          yq -i ".dependencies[].version = \"$NPRD_VER\"" charts/datadog/datadog-prod/Chart.yaml
          echo "target=prod" >> $GITHUB_ENV
          echo "version=$NPRD_VER" >> $GITHUB_ENV

      - name: Create Promotion PR
        if: env.target != ''
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.TOKEN }}
          title: "Sync ${{ env.target }} version to ${{ env.version }}"
          branch: "chore/promote-release-${{ env.target }}-${{ env.version }}"
          author: 'github-actions <github-actions@users.noreply.github.com>'
